html {
    height: 100%;
    width: 100%;
}

body {
    background-image: url("../img/pacmanboard.png");
}

h1, h3, cite {
    color: white;
}

h2 {
    padding: 5px;
}

p {
    padding: 5px;
    color: white;
}

img {
    padding: 10px;
    margin: 5px;
}

.ghost {
    display: flex;
    border: solid 3px;
    border-radius: 10px;
    color: white;
    font-family: cursive;
    background-color: black;
}

.blinky {
    border: solid 3px;
    border-radius: 10px;
    border-color: red;
    color: white;
    font-family: cursive;
    background-color: black;
}

.inky {
    border: solid 3px;
    border-radius: 10px;
    border-color: aqua;
    color: white;
    font-family: cursive;
    background-color: black;
}

.pinky {
    border: solid 3px;
    border-radius: 10px;
    border-color: rgb(255, 84, 154);
    color: white;
    font-family: cursive;
    background-color: black;
}

.clyde {
    border: solid 3px;
    border-radius: 10px;
    border-color: rgb(255, 129, 0);
    color: white;
    font-family: cursive;
    background-color: black;
}