html {
    height: 100%;
    width: 100%;
}

body {
    background: lightgrey;
}

h2 {
    padding: 5px;
}

p {
    padding: 5px;
}

img {
    padding: 10px;
    margin: 5px;
}

.ghost {
    display: flex;
}

.blinky {
    border: solid 3px;
    border-radius: 10px;
    border-color: red;
    color: white;
    font-family: cursive;
    background-color: black;
}

.inky {
    border: solid 3px;
    border-radius: 10px;
    border-color: aqua;
    color: white;
    font-family: cursive;
    background-color: black;
}

.pinky {
    border: solid 3px;
    border-radius: 10px;
    border-color: rgb(255, 84, 154);
    color: white;
    font-family: cursive;
    background-color: black;
}

.clyde {
    border: solid 3px;
    border-radius: 10px;
    border-color: rgb(255, 129, 0);
    color: white;
    font-family: cursive;
    background-color: black;
}
